
.image-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row;
    min-width: 300px;
    min-height: 300px;
    margin: 10px;
    padding: 2px;
    background-color: #444;
    border: 3px ridge #888;
    border-radius: 5px;
    
}